html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}
body{
    margin: 0%;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;

}

.header{
    height: 20px;
    width: auto;
    background:fixed;
    background-color:#efeff5;

}



.topnav {
    background-color:#e0e0eb; 
    overflow: hidden;

}



.topnav a{
    float: center;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.topnav a:hover {
    background-color:#999900;
    color: black;
}

.topnav a.active {
    background-color:#8282b0;
    color: white;

}

.menuBar {
    display:inline-flex;
    cursor: pointer; 
} 

.bar1, .bar2, .bar3 {
    position:absolute;
    right:30px;
    width: 20px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 3px 0;
    transition: 0.4s;

}



@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }


body, html {
    height: 100%;
}

.hodor {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("hodor.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.hodor-text{
    float:relative;
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

.hodor-text button:hover{
    background-color:#005075;
    color:white;

}

.darkblue-bar{
    background-color: #32324e;
    overflow: hidden;
    font-size: x-small;
    
}

.below-bar-left{
    float: left;
    width:60%;
    padding:15px;

}

.below-bar-right::after {
    content:"";
    display:table;
    clear:both;
}

h4 a:link{
    color:#000;
    background-color: transparent;
    text-decoration: none;
}

h4 a:hover{
    color:#63639c;
    background-color: transparent;
    text-decoration: underline;
}

h4 a:visited{
    color:rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
}

.hodors{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 10px;
}

.hodor1{
    height:100px;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30rem;
}

.hodor2{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 10px;
    
}

.hodor3{
    flex-direction: row;
    height:100px;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30rem;
}

@media (max-width:600px) {
    .hodors {
        flex-direction: column;
    }
    .hodor1{
        flex-direction: column;
    }

    .hodor2{
        flex-direction: column;
    }

    .hodor3{
        flex-direction: column;
    }

}


.icon-bar{
    width:100%;
    background-color: #ffff00;
    overflow:auto;
}

.icon-bar a{
    float:left;
    text-align: center;
    width: 20%;
    padding: 12px 0;
    transition: all 0.3 ease;
    color:#ffffff;
    font-size: 20px;
 }

.icon-bar a:hover {
    background-color:#b3b300
}

.active {
    background-color: #ffff80;

}

