background-color: #ccd3ee;
}
#container{
	position: relative;
	background-color: #ccd3ee;
	height: 1000px;
	width: 1325px;
	margin: 0px auto 0px auto; 
	}
#banner {
	position:absolute;
	height: 150px;
	width: 1325px;
	top: 0px;
	background-color: #ccd3ee;
	font-size: 1px;
	}
#assignments {
	position:absolute;
	height: 100px;
	width: 1150px;
	top: 500px;
	left: 175px;
	background-color: #ccd3ee;
	font-size: 1px;
	}
 #piccontent {
	position:absolute;
	height: 300px;
	width: 650px;
	background-color: #ccd3ee;
	top: 160px;
	left: 250px;
	}
#homecontent{
	position: absolute;
	height: 300px;
	width: 600px;
	top: 150px;
	left: 625px;
	color: black;
	background-color: #ccd3ee;
